.navbar {
  background-color: #222;
  padding: 15px;
}

.navbar a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
